.Splash {
    background: #000;
    color: #fff;
    padding: 0;
    margin: 0;
}

.SplashContainer {
    text-align: left;
    padding: 0;
}

.banner-title {
    font-size: 4em;
    display: block;
}

.bannerContainer1 {
    height: 28em;
    background: url("../../static/images/banner1.webp");
    background-size: 100% 28em;
    padding-top: 2em;
}

.bannerContainer2 {
    height: 28em;
    background: url("https://static.thoughtworks.com/images/contact-us/contact-us-banner-1.jpg");
    background-size: 100% 28em;
    padding-top: 2em;
}

.bannerContainer3 {
    height: 28em;
    background: url("https://dynamic.thoughtworks.com/landing_pages/hero_banner_image_desktop-d487b9e3df79ed74c168f7aeeead5393.jpeg");
    background-size: 100% 28em;
    padding-top: 2em;
}

.icon-header {
}


.span-login {
    color: #000;
}

.mr-auto > a {
    color: #000;
}
