.Footer {
    padding-bottom:4em;
    background: #fff;
    color: #000;

}

.footerText {
    font-size: 0.8em;
    color:#999;
}

.footerText > a {
    color: #999;
    text-decoration: none;
}

.footerText > a:hover {
    font-weight: bolder;
    color: #000;
    text-decoration: none;
}
