.TeamMember {
    margin: 0em 0em 3em;
}

.head {
    width: 90%;
    height: 15em;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.m-cls-1 {
    transition: fill .2s;
    fill: #999;
}

.m-cls-1:hover {
    transition: fill .2s;
    fill: rgb(223, 102, 159);
}

.m-cls-2 {
    fill: #fff;
    fill-rule: evenodd;
}
